<!DOCTYPE html>
<html>
  <head>
    <title>SeaBattle</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <section class="messages">
      <!--<div class="notice"><%= t notice %></div>-->
      <!--<div class="alert"><%= t alert %></div>-->
    </section>
    <section class="user_sign">
      <% if user_signed_in? %>
        <span>Здравствуйте, <%= current_user.email %></span>
        <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
      <% else %>
        <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
      <% end %>
    </section>
  </header>
  <div class="game">
    <div class="title">Игра "Морской бой"</div>
    <%= yield %>
  </div>
  </body>
</html>
